.kicad_prl
.vscode
.kicad_sch.lck
.lck
~groundMonitor.kicad_pcb.lck
.env.local
secrets.h
fabrication-toolkit-options.json
_autosave-plantMonitorAutoroute.kicad_sch
PCB + Schematic/plantMonitorAutoroute/#auto_saved_files#
PCB + Schematic/plantMonitorCopy/.DS_Store
PCB + Schematic/plantMonitorCopy/_autosave-plantMonitorCopy.kicad_pcb
PCB + Schematic/plantMonitorCopy/~plantMonitorCopy.kicad_sch.lck
PCB + Schematic/plantMonitorCopy/~_autosave-plantMonitorCopy.kicad_pcb.lck
PCB + Schematic/plantMonitorCopy/fp-info-cache
PCB + Schematic/plantMonitorCopy/plantMonitorCopy.kicad_prl
